/*
Joseph P. Pasaoa
HubBuzz
*/

@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('./fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

body {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
}

input {
  margin-bottom: 12px;
}

div#ord {
  display: grid;
  grid-template-columns: 23px 105px auto;
  grid-auto-rows: 16px;
}

.gray {
  background-color: #eee;
}

div.num {
  grid-column: 1;
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
}

div.date {
  grid-column: 2;
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
}

div.loc {
  grid-column: 3;
  font-size: 0.7em;
  font-weight: bold;
  font-style: italic;
  color: #999;
}

div.num, div.date, div.loc {
  line-height: 1em;
}

div.type {
  grid-column: 2;
  font-size: 0.7em;
  text-transform: uppercase;
}

div.msg {
  grid-column: 3;
  font-size: 0.7em;
  padding-left: 9px;
  color: mediumblue;
}

div.type, div.msg {
  line-height: 0.4em;
}